/*
auther:athul;
theme:gym management;
version:1.o;
*/
*/  css for all */
*{
margin:0 0;
padding:0 0;
font-family:arial,sans-script;

}
body{
    background: -webkit-linear-gradient(left,  #474e5d , #0a3e54);
}
.container{

width:80%;
margin:0 auto;
padding:1%;

}

.img-responsive{
width:100%;
}
.img-curve{
    border-radius: 20px;
     
}

.text-right{
text-align:right;
}

.text-centre{
    text-align: center;
}

.clearfix{
clear:both;
float:none;
}
a{
color:#3dabf5;
   
}
a:hover{
color:#ff6b6b;
}

/* css for name bar  section */

.logo{

width:8%;
float:left;
}

.menu{
line-height:60px;

}
.menu ul{
    list-style-type:none;
}
.menu ul li{
display: inline;
padding:1%;
font-weight:bold;
}



.menu ul li a{
/*color:red;*/
text-decoration: none;
}


.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.gallery-text{
    color: black;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: underline;

}
#img-gal{
  width: 50%;
  
}
.column{
    display: flex;
    height: 25rem;
 
}
.design{
    padding: 4px 4px 4px 4px;
  
}